.container {
  max-width: 900px;
}

.card {
  background-color: #f8f9fa;
  border-radius: 10px;
}
.btn-upload{
    background-color: #7AD03A;
    color: black;

}

.btn-success{
  background-color: #7AD03A !important;
    border: none !important;
    color: black;

}
.profile_btn {
  border: 2px solid #E3E3E3;
  color: #757575;
  border-radius: 8px;
}
/* يخفي السهم الافتراضي للـ dropdown */
.btn[ngbDropdownToggle]::after {
  display: none !important;
}

.profile_btn.active,
.profile_btn:focus,
.profile_btn:active {
  background-color: #E9F7DE;
  border-color: #7AD03A;
  color: black;
}
.profile_btn.active {
  // box-shadow: 0 0 0 3px rgba(122, 208, 58, 0.3); /* تأثير حول الزر */
  font-weight: bold;
}


.scroll-tabs {
  flex-wrap: nowrap; /* منع الكسر */
  overflow-x: auto; /* تمكين التمرير أفقي */
  -webkit-overflow-scrolling: touch; /* smooth scroll على iOS */
}

.scroll-tabs::-webkit-scrollbar {
  display: none; /* إخفاء scrollbar */
}

/* Optional: spacing between buttons */
.scroll-tabs .col-auto {
  flex: 0 0 auto; /* يمنع الانكماش */
}
