.container[dir='rtl'] {
  text-align: right;
}

.container[dir='ltr'] {
  text-align: left;
}


.container {
  margin-bottom: 80px;
  margin-top: 40px;
}

.section_title {
  // text-align: right;
  font-size: 28px;
  font-family: 'Almarai', sans-serif !important;
}

/* أسهم التنقل */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* يخلي الأسهم واضحة */
}

/* المؤشرات (الدوائر) */
.carousel-indicators {
  bottom: -30px; /* نزولها تحت شوية علشان تبان */
  z-index: 10;
}

.carousel-indicators {
  position: static; /* يخليهم خارج الكاروسيل */
  margin-top: 20px; /* المسافة بين الكارت والـ dots */
  display: flex;
  justify-content: center;
  gap: 8px; /* مسافة بين كل dot والتانية */
}

.carousel-indicators [data-bs-target] {
  background-color: #BABABA;
  width: 15px;
  height: 15px;
  border-radius: 50%; /* العادية تبقى دايرة */
  border: none;
}

.carousel-indicators .active {
  background-color: #7AD03A !important;
  width: 40px;        /* عريض */
  height: 12px;       /* أنحف */
  border-radius: 50px; /* يديكِ مستطيل مستقيم من النص وأطراف مدورة */
  margin-top: 2px;
}
.services-carousel-wrapper {
  overflow: hidden;
  position: relative;

  .carousel-track {
    transition: transform 0.5s ease-in-out;
    will-change: transform;
  }

  .indicator-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: #ccc;
    transition: background-color 0.3s;

    &.active {
      background-color: #333;
    }
  }
}


.services-carousel-wrapper .carousel-track {
  width: 90% !important;
}
.btn-success{
  background-color: #7AD03A !important;
    border: none !important;
    color: black;

}
.card {
  border: solid 1px #00000050 !important;
}

.btn {
  font-weight: 700;
}

.services-carousel-wrapper .carousel-track{
  width: 95%;
}