header{
  // padding-left: 120px;
  //   padding-right: 120px;
 padding: 20px 120px  20px 120px;
}
[dir="rtl"] {
  text-align: right;
}

[dir="rtl"] .form-control, 
[dir="rtl"] .form-select {
  text-align: right;
}

/* Search bar icon positioning */
.search-container .fa-search {
  pointer-events: none;
}