header{
  font-size: 1rem;
  height: 8rem;
  // padding-left: 120px;
  //   padding-right: 120px;
 padding: 20px 100px  20px 100px;
}
[dir="rtl"] {
  text-align: right;
}

[dir="rtl"] .form-control, 
[dir="rtl"] .form-select {
  text-align: right;
}

/* Search bar icon positioning */
.search-container .fa-search {
  pointer-events: none;
}

.rtl-select {
  background-position: left center; /* move arrow to the left */
  padding-left: .7rem !important;  /* add padding to prevent text overlap with arrow */
  padding-right: 0.5rem !important; /* remove extra right padding */
}
