.custom-green-btn {
  background-color: #7AD03A;
  color: black;
  border: 2px solid #7AD03A;
  transition: all 0.3s ease;
}

.custom-green-btn:hover {
  background-color: white;
  color: #7AD03A;
  border: 2px solid #7AD03A;
}

/* لمنع ظهور أي أيقونات إضافية مع الفوكس */
/* إلغاء أي أيقونات افتراضية يضيفها المتصفح */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-caps-lock-indicator,
input[type="password"]::-webkit-password-toggle-button {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
  position: absolute !important;
  right: 0;
}
