<div class="offcanvas offcanvas-end d-flex flex-column" dir="rtl" tabindex="-1" id="cartSidebar"
  aria-labelledby="cartSidebarLabel" data-bs-backdrop="true" data-bs-scroll="true">

  <div class="offcanvas-header d-flex justify-content-between align-items-center">
    <div>
      <h3 id="cartSidebarLabel" class="fw-bold fs-5 mb-0 d-flex  align-items-center">
        {{ 'CART.TITLE' | translate }}
        <span class="badge bg-light text-dark border border-secondary ms-2 px-2 mx-2">
          {{ cartState.cartCount$ | async }}
        </span>
      </h3>
    </div>
<!-- colse_dev border px-3 py-1 rounded-1 -->
  <div class="">
  <!-- <span class="fw-bold fs-5">{{ 'CART.CLOSE' | translate }}</span> -->
  <button type="button" 
    class="btn-close" 
    data-bs-dismiss="offcanvas" 
    (click)="onSidebarClosed()"   
    [attr.aria-label]="'CART.CLOSE' | translate"
    style="transform: scale(0.7);">
  </button>
</div>

  </div>

  <!-- ✅ خلي المحتوى يتمدد وياخد مساحة scrolling -->
  <div class="offcanvas-body flex-grow-1 overflow-auto" style="z-index: 99999;">

    <!-- المنتجات + البروجريس -->
    <div class="col-12">
      <h6 class="mb-4 text-end">
        <img src="assets/Images/delivery.svg" class="me-2">
        <span>{{ 'CART.FREE_SHIPPING_TEXT' | translate }}</span>
        <strong>{{ 'CART.FREE_SHIPPING_AMOUNT' | translate }}</strong>
      </h6>

      <div class="progress border border-c mb-3" style="height: 10px;">
        <div class="progress-bar" role="progressbar" [style.width.%]="progressValue"
          [attr.aria-valuenow]="progressValue" aria-valuemin="0" aria-valuemax="100" style="background-color: #2EA2CC;">
        </div>
      </div>

      @for (item of cartItems; track trackByProductId($index, item)) {
      <div class="card mb-3 shadow-sm border-1 rounded-4 p-2" style="background-color: #FAFAFA;">
        <div class="row g-2 align-items-center">
          <div class="col-3 text-center">
            <div class="col-12 text-center">
              @if (item.images && item.images.length > 0) {
              <img [src]="item.images[0]" class="img-fluid rounded-3">
              } @else {
              <img src="assets/Images/placeholder.png" class="img-fluid rounded-3">
              }
            </div>
          </div>
          <div class="col-9">
            <div class="card-body mx-lg-3 text-end p-2">
              <h6 class="card-title fs-6 fw-bold">{{ item.product_name_ar | truncate:22}}</h6>

              <div class="small">
                <!-- لو مستخدم مسجل دخول -->
                <ng-container *ngIf="isLoggedIn(); else guestCart">
                  <span class="fw-bold text-success ms-2">
                    {{ item.total_price_after_offers }}{{ 'CART.CURRENCY' | translate }}
                  </span>&nbsp;
                     <span class="text-muted text-decoration-line-through"
                  *ngIf="item.total_price_after_offers !== item.unit_price">
                  {{ item.price }}{{ 'CART.CURRENCY' | translate }}
                </span>
                </ng-container>

                <!-- لو ضيف -->
                <ng-template #guestCart>
                  <span class="fw-bold text-success ms-2">
                    {{ item.total_price_after_offers }} {{ 'CART.CURRENCY' | translate }}
                  </span>
                  <!-- <span class="text-muted text-decoration-line-through"
                    *ngIf="item.sale_unit_price !== undefined && toNumber(item.saleUnitPrice) < toNumber(item.unitPrice)">
                    {{ toNumber(item.unit_price) }} {{ 'CART.CURRENCY' | translate }}
                  </span> -->
<span class="text-muted text-decoration-line-through"
      *ngIf="item.total_price_after_offers !== item.unit_price">
  {{ item.unit_price }} {{ 'CART.CURRENCY' | translate }}
</span>







                </ng-template>
              </div>

              <div class="d-flex align-items-center justify-content-between mt-2">
             <button class="btn btn-outline-secondary btn-sm"
        (click)="removeItem(item.product_id); $event.stopPropagation()">
  <i class="fa-regular fa-trash-can" style="font-size:15px"></i>
  {{ 'CART.REMOVE' | translate }}
</button>

                <div class="d-flex align-items-center gap-2 ">
                  <button class="btn btn-outline-secondary btn-sm" (click)="decreaseQuantity(item.product_id)">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                  <span>{{ item.quantity }}</span>
                  <button class="btn btn-outline-secondary btn-sm" (click)="increaseQuantity(item.product_id)">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>

  </div>

  <!-- ✅ أزرار ثابتة تحت -->
  <div class="p-3 border-top bg-white">
    <a [routerLink]="['/placeOrder']" class="btn btn-success w-100" data-bs-dismiss="offcanvas">
      {{ 'CART.CHECKOUT' | translate }}
    </a>
    <div class="py-2"></div>
    <a [routerLink]="['/cart']" class="btn btn-primary border border-secondary rounded-1 w-100 mb-2"
      data-bs-dismiss="offcanvas">
      {{ 'CART.VIEW_CART' | translate }}
    </a>
  </div>

</div>
