<div class="container-fluid mb-5 mt-5 py-5" style="width: 80%;">
  <a routerLink="/" class="d-block text-end text-primary mb-3" style="text-decoration: none; display: none !important;">
    {{ 'AUTH.HOME' | translate }} <i class="fas fa-chevron-left"></i>
  </a>

  <div class="row h-100">
 

    <!-- Right Side: Tabs & Form -->
    <div class="col-md-6 d-flex align-items-start justify-content-center py-5">
      <div class="w-100" style="max-width: 400px;">
        <h3  class="fw-semibold" style="justify-self: center; font-size: 25px; font-weight: 700 !important;">{{ 'AUTH.WELCOME' | translate }}</h3>
        <p style="justify-self: center; font-size: 19px; font-weight: 400 !important;">{{ 'AUTH.SUBTITLE' | translate }}</p>

        <!-- Tabs -->
        <div class="auth-container text-center mb-4 d-flex justify-content-center" style="width: 125%; justify-self: center;">
          <button class="btn rounded-0" style="width: 50%; border-radius: 10px !important;  font-size: 20px; font-weight: 700;" 
                  [ngClass]="{
                    'custom-green-btn': activeTab === 'register',
                    'bg-light text-dark': activeTab !== 'register'
                  }"
                  (click)="setTab('register')">
            {{ 'AUTH.REGISTER' | translate }}
          </button>

          <button class="btn rounded-0" style="width: 50%; border-radius: 10px !important;  font-size: 20px; font-weight: 700;"
                  [ngClass]="{
                    'custom-green-btn': activeTab === 'login',
                    'bg-light text-dark': activeTab !== 'login'
                  }"
                  (click)="setTab('login')">
            {{ 'AUTH.LOGIN' | translate }}
          </button>
        </div>

        <!-- Dynamic Content -->
        <div class="auth-content" style="width: 125%; justify-self: center;">
          <ng-container *ngIf="activeTab === 'login'">
            <app-login></app-login>
          </ng-container>
          <ng-container *ngIf="activeTab === 'register'">
            <app-register></app-register>
          </ng-container>
        </div>
      </div>
    </div>

       <!-- Left Side: Image -->
    <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center p-0">
      <img src="assets/Images/Group 1000002782.svg"
           alt="{{ 'AUTH.LOGIN_IMAGE_ALT' | translate }}"
           class="img-fluid"
           style="width: 100%; height: 100vh; object-fit: contain;">
    </div>
  </div>
</div>
