#branchSelect {
  padding-right: 5rem; /* مساحة يمين */
//   padding-left: 1rem;  /* مساحة شمال */
}
select option {
  padding: 2px 8px; /* تحكم في المساحة الداخلية */
  font-size: 14px; /* تصغير الخط يخليها شكلها أضيق */
}
.btn-success{
  background-color: #7AD03A !important;
    border: none !important;
    color: black;

}