<section class="hero-section justify-content-center text-white mt-lg-4 pt-lg-4 py-5  w-100">
  <img src="assets/Images/pattern.svg"
    style="position: absolute; left: 0; top: 20px; height: 200px; width: 100px; z-index: 1;">

  <div class="container py-lg-5">
    <div class="row ">


      <!-- Right Content Column -->
      <div class="col-lg-5 mb-4 mb-lg-0  py-5"
        [ngStyle]="{ direction: currentLang === 'ar' ? 'rtl' : 'ltr', textAlign: currentLang === 'ar' ? 'right' : 'left' }">


        <h1 class="hero-title mb-5">
          <div class="highlight-wrapper fs-2">
            <span class="highlight">{{ 'hero.highlight' | translate }}</span>
            {{ 'hero.priority' | translate }}
          </div>
        </h1>
        <p class="hero-description fs-5" [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'">
          {{ 'hero.description' | translate }}
        </p>

        <p class="hero-subtitle mb-5 fs-6" [ngClass]="currentLang === 'ar' ? 'text-end' : 'text-start'">
          {{ 'hero.subtitle' | translate }}
        </p>


        <!-- features -->
        <div class="d-flex flex-nowrap my-4 mb-5 features-container"
          [ngClass]="currentLang === 'ar' ? 'justify-content-end text-end' : 'justify-content-start text-start'">
          <div class="gradient-border rounded-4" *ngFor="let feature of features">
            <div class="feature-item d-flex align-items-center gap-2">
              <img src="assets/Images/checkmark-square-02.svg">
              <span>{{ feature | translate }}</span>
            </div>
          </div>
        </div>

        <!-- CTA Button desktop -->
        <button class="btn btn-success cta-button d-none d-md-inline-block" (click)="navigateToReservation()"
          [ngClass]="currentLang === 'ar' ? 'ms-auto' : 'me-auto'">
          <span class="arrow-icon">
            <img src="assets/Images/circle-arrow-up-right-02.svg" alt="Arrow Icon">
          </span>
          {{ 'cta.reserveNow' | translate }}
        </button>

      </div>

      <!-- Left Slider Column -->
      <div class="col-lg-7 text-center">
        <div class="slider-container mx-auto">
          <div class="slider-wrapper overflow-hidden" (touchstart)="onTouchStart($event)"
            (touchend)="onTouchEnd($event)" (touchmove)="$event.preventDefault()" (pointerdown)="onPointerDown($event)"
            (pointerup)="onPointerUp($event)" (pointermove)="onPointerMove($event)" (pointerleave)="isDragging = false">




            <div class="slides d-flex" [ngStyle]="{
           transform: (currentLang === 'ar'
             ? 'translateX(+' + (currentSlide * 100) + '%)'
             : 'translateX(-' + (currentSlide * 100) + '%)')
         }" [ngClass]="currentLang === 'ar' ? 'slide-rtl' : 'slide-ltr'">

              <div class="slide" *ngFor="let image of sliderImages">
                <img [src]="image.src" [alt]="image.alt" class="slide-image">
              </div>
            </div>

          </div>



          <!-- Slider Dots -->
          <div class="slider-dots mt-3">
            <span class="dot" *ngFor="let image of sliderImages; let i = index" [class.active]="i === currentSlide"
              (click)="goToSlide(i)">
            </span>
          </div>
        </div>

        <!-- CTA Button mobile -->
        <button class="btn btn-success cta-button d-inline-block d-md-none mt-5" (click)="onGetStarted()">
          <span class="arrow-icon">
            <img src="assets/Images/circle-arrow-up-right-02.svg" alt="Arrow Icon" class="mx-2">
          </span>
          {{ 'cta.reserveNow' | translate }}
        </button>
      </div>


    </div>



  </div>
</section>
