.hero-section {
  background: #081E25;
 
}

.hero-title {
  font-size: 2.1rem;
  font-weight: 700;
}

.highlight-wrapper {
  position: relative;
  display: inline-block;
}

.highlight {
  position: relative;
  z-index: 1;
}

.highlight::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -150px;
  width: 230%;
  height: 230%;
  background-image: url('/assets/Images/Bubble%20Ellipse.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  pointer-events: none;
}


.hero-description, .hero-subtitle {
  font-size: 1rem;
    margin: 1rem;

  opacity: 0.9;
  line-height: 1.6;
}

.slider-container {
  position: relative;
  max-width: 400px;
  height: 500px;
  overflow: hidden;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.slides {
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-dots {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: #7ed321;
  transform: scale(1.2);
}

.gradient-border {
  padding: 1px;
  border-radius: 20px;
  
}

.cta-button {
  background-color: #7AD03A;
  border-radius: 50px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 0.75rem 1.5rem;
  margin: .5rem;
  color: #000000;
}

.cta-button:hover {
  transform: translateY(-2px);
}

.arrow-icon img {
  width: 25px;
  height: 25px;
}
.gradient-border {
  border-radius: 12px; /* Bootstrap pill shape */
  padding: 1px; /* thickness of border */
  background: linear-gradient(90deg,  rgba(255, 255, 255, 0.87),rgba(0, 0, 0, 0.418)); /* your gradient colors */

  .feature-item {
    background-color: #081E25; /* match hero background */
    border-radius: 12px;
    padding: 0.5rem 1.2rem;
    color: #D1EBF5;
    font-size: .9rem;
    display: flex;
    align-items: center;
    gap: 0.1rem;
    backdrop-filter: blur(6px);
  }
}
