.stats-container {
  position: relative;
  overflow: hidden;
}

.stats-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 12px;
border-radius: 0 0 50px 50px;
  background: linear-gradient(90deg, #7AD03A, #2EA2CC);
}
.no-divider .position-absolute {
  display: none !important;
}
/* Divider between two items in the same row */
/* Mobile (max-width: 767px) */
/* Mobile (max-width: 767px) */
@media (max-width: 767px) {
  .stats-container[dir="ltr"] .stat-item:nth-child(odd) {
    border-right: 1px solid #000;
    border-left: none;
  }

  .stats-container[dir="rtl"] .stat-item:nth-child(odd) {
    border-left: 1px solid #000;
    border-right: none;
  }
}

/* Desktop (min-width: 768px) */
@media (min-width: 768px) {
  .stats-container[dir="ltr"] .stat-item:not(:last-child) {
    border-right: 1px solid #000;
    border-left: none;
  }

  .stats-container[dir="rtl"] .stat-item:not(:last-child) {
    border-left: 1px solid #000;
    border-right: none;
  }
}

.fs-2 {
  font-size: 28px !important;
}

.fs-6  {
  font-size: 24px !important;
}

.btn-success{
  background-color: #7AD03A !important;
    border: none !important;
    color: black;

}