.stats-container {
  position: relative;
  overflow: hidden;
}

.stats-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 12px;
border-radius: 0 0 50px 50px;
  background: linear-gradient(90deg, #7AD03A, #2EA2CC);
}
.no-divider .position-absolute {
  display: none !important;
}
