.phone-overlap {
  position: relative;
  bottom: -43px;      /* Pull it upward to overlap */
  z-index: 2;      /* Ensure it's above the border box */
  max-height: 500px;
}

@media (max-width: 768px) {
  .phone-overlap {
    top: 0;
    max-height: 350px;
  }
}
