<div class="popup-overlay"  style="z-index: 9999999999;">
  <div class="popup-content p-4 bg-white shadow rounded">
<button 
  (click)="closePopup()" 
  class="btn btn-danger btn-sm"
  [ngClass]="currentLang === 'ar' ? 'float-start' : 'float-end'">
  X
</button>
    <h4 class="mb-4">{{ 'COMPARE.TITLE' | translate }}</h4>

    @if (comparedData.length < 2) {
      <div class="text-center">
        <p>{{ 'COMPARE.LOADING' | translate }}</p>
      </div>
    }

    @if (comparedData.length === 2) {
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>{{ 'COMPARE.FEATURE' | translate }}</th>
            @for (p of comparedData; track p) {
              <th>{{ currentLang === 'ar' ? (p.name_ar || p.name) : (p.name || p.name_ar) }}</th>
            }
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ 'COMPARE.PRICE' | translate }}</td>
            @for (p of comparedData; track p) {
              <td>{{ p.sale_price || p.price }} EGP</td>
            }
          </tr>
          <tr>
            <td>{{ 'COMPARE.STOCK' | translate }}</td>
            @for (p of comparedData; track p) {
              <td>{{ p.stock }}</td>
            }
          </tr>
          <tr>
            <td>{{ 'COMPARE.RATING' | translate }}</td>
            @for (p of comparedData; track p) {
              <td>{{ p.average_rating || ('COMPARE.NO_RATING' | translate) }}</td>
            }
          </tr>
          <tr>
            <td>{{ 'COMPARE.DESCRIPTION' | translate }}</td>
            @for (p of comparedData; track p) {
              <td>{{ currentLang === 'ar' ? (p.description_ar || p.description) : (p.description || p.description_ar) }}</td>
            }
          </tr>
          <tr>
            <td>{{ 'COMPARE.IMAGE' | translate }}</td>
            @for (p of comparedData; track p) {
              <td>
                <img [src]="p.images[0]" width="80" />
              </td>
            }
          </tr>
        </tbody>
      </table>
    }
  </div>
</div>
