<div class="popup-overlay" dir="rtl" style="z-index: 9999999999;">
  <div class="popup-content p-4 bg-white shadow rounded">
    <button (click)="closePopup()" class="btn btn-danger btn-sm float-start">X</button>
    <h4 class="mb-4">مقارنة المنتجات</h4>

    @if (comparedData.length < 2) {
      <div class="text-center">
        <p>جاري تحميل البيانات...</p>
      </div>
    }

    @if (comparedData.length === 2) {
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>الخاصية</th>
            @for (p of comparedData; track p) {
              <th>{{ p.name_ar || p.name }}</th>
            }
          </tr>
        </thead>
        @if (comparedData.length === 2) {
          <tbody>
            <tr>
              <td>السعر</td>
              @for (p of comparedData; track p) {
                <td>{{ p.sale_price || p.price }} EGP</td>
              }
            </tr>
            <tr>
              <td>الكمية في المخزون</td>
              @for (p of comparedData; track p) {
                <td>{{ p.stock }}</td>
              }
            </tr>
            <tr>
              <td>التقييم</td>
              @for (p of comparedData; track p) {
                <td>{{ p.average_rating || 'لا يوجد تقييم' }}</td>
              }
            </tr>
            <tr>
              <td>الوصف</td>
              @for (p of comparedData; track p) {
                <td>{{ p.description_ar || p.description }}</td>
              }
            </tr>
            <tr>
              <td>الصورة</td>
              @for (p of comparedData; track p) {
                <td>
                  <img [src]="p.images[0]" width="80" />
                </td>
              }
            </tr>
          </tbody>
        }
      </table>
    }
  </div>
</div>
