.table .btn {
  border: none !important;
}


.table .btn-primary{
background-color: #F3F0FF;
color: black;
padding: 14px;
}

.table .btn-danger{
background-color: #2581A2;
color: rgb(255, 255, 255);
padding: 14px;
}