<div class="specialist-step">
  <!-- اختيار الأخصائي -->
  <h3 class="section-title">اختر أخصائي</h3>

  @if (specialists.length > 0) {
    <div class="specialist-cards">
      @for (sp of specialists; track sp.id) {
        <div 
          class="card"
          [class.selected]="selectedSpecialistId === sp.id"
          (click)="selectedSpecialistId = sp.id; onSpecialistChange()">
          
          <div class="card-header">
            <img [src]="sp.image || 'assets/Images/User.svg'" >
            <div class="info">
              <h4>{{ sp.name }}</h4>
              <p class="speciality" *ngIf="sp.speciality">{{ sp.speciality }}</p>
              <div class="stars">★★★★★</div>
            </div>
            @if (selectedSpecialistId === sp.id) {
              <div class="check">✔</div>
            }
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="no-data">لا يوجد أخصائيون لهذا الفرع</div>
  }

<!-- اختيار التاريخ -->
@if (selectedSpecialist) {
  <div class="date-picker-container p-3 mb-3 bg-light rounded shadow-sm end-0">
    <h5 class="section-title mb-3 text-primary">
      <i class="bi bi-calendar-event me-2"></i> اختر التاريخ
    </h5>
    <div class="input-group">
     
      <input 
        type="date" 
        class="form-control" 
        [(ngModel)]="selectedDate" 
        (change)="onDateChange()">
    </div>
  </div>
}


  <!-- اختيار الوقت -->
  @if (availableTimes.length > 0) {
    <h3 class="section-title">الأوقات المتاحة</h3>
  }

  <div class="time-slots">
    @for (time of availableTimes; track time) {
      <div 
        class="time-slot"
        [class.selected]="selectedTime === time"
        (click)="selectedTime = time">
        من {{ time }}
      </div>
    }
    @if (selectedDate && availableTimes.length === 0) {
      <div class="no-times">
        لا توجد مواعيد متاحة في هذا اليوم
      </div>
    }
  </div>

  <!-- أزرار التحكم -->
  <div class="actions">
    <button class="prev" (click)="prev.emit()">السابق</button>
    <button 
      class="next" 
      [disabled]="!selectedSpecialistId || !selectedDate || !selectedTime"
      (click)="goNext()">التالي</button>
  </div>
</div>
