.table .btn {
  border: none !important;
}


.table .btn-primary{
background-color: #F3F0FF;
color: black;
padding: 14px;
}

.table .btn-danger{
background-color: #2581A2;
color: rgb(255, 255, 255);
padding: 14px;
}

.bg-primary {
  background-color: #D1EBF5 !important;
  color: #000 !important;
  border: solid 2px #2581A2 !important;
}

.bg-light {
  background-color: #D1EBF5 !important; 
  border: solid 1px #2581A2 !important;
}