.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
*{
    font-family: 'Almarai', sans-serif !important;

}

.btn-success{
  background-color: #7AD03A !important;
    border: none !important;
    color: black;

}


.offcanvas-backdrop.show ,.offcanvas-backdrop.fade {
  z-index: 99999 !important;
}