* {
  font-family: 'Almarai', sans-serif !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  // margin: 0;
  // padding: 0;
  // box-sizing: border-box;
}






// Add this to your global styles
.main-content {
  padding-top: 0; /* default for mobile */
}

@media (min-width: 768px) {
  .main-content {
    padding-top: 8rem; /* for desktop only */
  }
}

// html, body {
//   width: 100%;
//   max-width: 100%;
//   overflow-x: hidden;
// }

// body {
//   position: relative;
// }

// .container-fluid {
//   padding-right: 0;
//   padding-left: 0;
//   margin-right: 0;
//   margin-left: 0;
// }