.custom-green-btn {
  background-color: #7AD03A;
  color: black;
  border: 2px solid #7AD03A;
  transition: all 0.3s ease;
}

.custom-green-btn:hover {
  background-color: white;
  color: #7AD03A;
  border: 2px solid #7AD03A;
}
