.btn-success{
    background-color: #7AD03A;
    color :black;
    border: none;
}
/* details.scss */
input, textarea {
  text-align: left; /* default */
}

.form-label {
  text-align: left; // default
}

.rtl input, .rtl textarea {
  text-align: right;
}

label {
  text-align: left !important; // default
}

.rtl label {
  text-align: right !important;
}
.btn-close.custom-green {
  background-color: #7AD03A !important;
  opacity: 1;
}

.btn-close.custom-green:hover,
.btn-close.custom-green:focus {
  background-color: #7AD03A !important;
  opacity: 1;
  box-shadow: none;
}
/* لون زر X */
.custom-green {
  background-color: #7AD03A !important;
  border-radius: 50%;
  opacity: 1 !important;
}

.custom-green:hover {
  background-color: #7AD03A !important;
  opacity: 0.85 !important;
}

/* إزالة البوردر من الهيدر والفوتر */
.modal-header,
.modal-footer {
  border: none !important;
}

