.btn-success{
    background-color: #7AD03A;
    color :black;
    border: none;
}
/* details.scss */
input, textarea {
  text-align: left; /* default */
}

.form-label {
  text-align: left; // default
}

.rtl input, .rtl textarea {
  text-align: right;
}

label {
  text-align: left !important; // default
}

.rtl label {
  text-align: right !important;
}
