
.btn-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #E9F7DE;
  border: 2px solid #00000033;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 14px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #d1edc2; // Slightly darker on hover
  }
}
// .container-fluid{
//   margin-top: -5px;
// }

.btn-success{
  background-color: #7AD03A !important;
    border: none !important;
    color: black;

}