<div class="blog-container w-100" [attr.dir]="dir">

  <!-- GRID VIEW -->
  @if (mode === 'grid') {
  <div class="row px-lg-3 py-5  mx-lg-5" style="  background-color: #ffffff;">
    <h1 class="text-center py-4">{{ 'BLOG.TITLE' | translate }}</h1>
    @for (blog of blogs; track blog) {
    <div class="col-md-4 mb-4 p-3">
      <div class="card h-100" style="border-radius: 24px;">
        <a [routerLink]="['/home/blog', blog.id]">
          <div class="position-relative">
            <img [src]="getSafeImage(blog.image)" class="card-img-top p-2" [alt]="blog.title_ar"
              style="height: 200px; object-fit: cover; border-radius: 25px;">
          </div>
        </a>
        <div class="card-body">
          <h6 class="card-title fw-bold">
            {{ currentLang === 'ar' ? blog.title_ar : blog.title }}
          </h6>

          <p class="card-text text-muted two-lines-only"
            [innerHTML]="parseContent(currentLang === 'ar' ? blog.content_ar : blog.content) | truncate:150">
          </p>
        </div>
        <div class="card-footer bg-transparent">
          <small class="text-muted">
            {{ 'BLOG.BY' | translate }}: {{ blog.author || ('BLOG.UNKNOWN_AUTHOR' | translate) }} |
            {{ blog.created_at | date: 'dd/MM/yyyy' }}
          </small>
        </div>
      </div>
    </div>
    }
    <app-downloadapp></app-downloadapp>
  </div>
  }

  @if (mode === 'carousel' && !loading) {
  <div class="position-relative px-lg-5 px-3 py-5 mb-0" style="  background-color: #081E25;">
    <div class="special-offers-container mb-5 ">
      <!-- Header -->
      <div class="d-flex justify-content-between align-items-center px-lg-4 mb-4">

        <!-- العنوان -->
        <h2 class="section-title mb-0 text-light fw-bold px-lg-5 px-2">{{ 'BLOG.LATEST_ARTICLES' | translate }}</h2>
        <!-- الزر -->
        <a [routerLink]="['/home/blogs']"
          class="btn btn-link view-all-btn px-lg-5 px-4 text-light d-flex fs-5 align-items-center gap-1">
          <img src="assets/Images/circle-arrow-up-right-02 (1).svg" [alt]="'BLOG.VIEW_ALL' | translate">
          {{ 'BLOG.VIEW_ALL' | translate }}
        </a>

      </div>

      <!-- Carousel Container -->
      <div class="carousel-wrapper px-lg-3">
        <div class="position-relative overflow-hidden  mx-lg-5">
          <div class="d-flex transition-transform carousel-track" [ngStyle]="{
  transform: currentLang === 'ar'
    ? 'translateX(' + (currentSlideIndex * (100 / visibleCards)) + '%)'
    : 'translateX(-' + (currentSlideIndex * (100 / visibleCards)) + '%)'
}" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">




            @for (blog of blogs; track blog) {
            <div class="carousel-slide p-3  px-lg-2">
              <div class="card h-100 product-card rounded-5 mb-1 border bg-white">
                <!-- Blog Image -->
                <a [routerLink]="['home/blog/', blog.id]" class="btn btn-link">
                  <div class="position-relative">
                    <div class="gradient-border">
                      <img [src]="getSafeImage(blog.image)" class="card-img-top" [alt]="blog.title_ar">
                    </div>


                  </div>
                </a>
                <!-- Blog Body -->
                <div class="card-body py-0" [dir]="currentLang === 'ar' ? 'rtl' : 'ltr'">
                  <h6 class="card-title fw-bold">
                    {{ (currentLang === 'ar' ? blog.title_ar : blog.title) | truncate:35 }}
                  </h6>

                  <p class="card-text text-muted  two-lines-only"
                    [innerHTML]="parseContent(currentLang === 'ar' ? blog.content_ar : blog.content) | truncate:150">

                  </p>
                  <p class="text-muted card-date d-flex align-items-center gap-3 flex-wrap">
                    <span class="d-flex align-items-center gap-1">
                      <img src="assets/Images/pencil-edit-01.svg" alt="" style="width: 18px; height: 18px;">
                      {{ 'BLOG.BY' | translate }}: {{ blog.author || ('BLOG.UNKNOWN_AUTHOR' | translate) }}
                    </span>

                    <span class="d-flex align-items-center gap-1">
                      <img src="assets/Images/calendar-03.svg" alt="" style="width: 18px; height: 18px;">
                      {{ blog.created_at | date: 'dd/MM/yyyy' }}
                    </span>
                  </p>

                </div>
              </div>
            </div>
            }
          </div>
        </div>
        <!-- Navigation -->
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center px-lg-5 mt-4 py-3">

          <!-- Dots -->
          <div class="d-flex gap-2 w-100 px-lg-4 mb-3 mb-md-0 justify-content-center" [ngClass]="{
    'justify-content-md-end': currentLang === 'ar',
    'justify-content-md-start': currentLang === 'en'
  }">
            @for (i of getDotsArray(); track i) {
            <button (click)="goToSlide(i)" class="rounded-5"
              [style.background-color]="currentSlideIndex === i ? '#7AD03A' : '#ccc'"
              style="width: 10px; height: 10px; border: none !important;">
            </button>
            }
          </div>


          <!-- Arrows -->
          <div class="d-flex gap-2 px-4 d-none d-md-flex" dir="rtl">
            <button class="arrow-btn next" (click)="prevSlide()" [disabled]="currentSlideIndex === 0"></button>
            <button class="arrow-btn prev" (click)="nextSlide()"
              [disabled]="currentSlideIndex >= blogs.length - visibleCards"></button>
          </div>

        </div>

      </div>
    </div>
  </div>
  }