<div class="position-relative" (click)="toggleDropdown()" style="cursor: pointer;">
  <div
    class="rounded-circle border border-success d-flex align-items-center justify-content-center"
    style="width: 36px; height: 36px;">
    <img src="assets/Images/Vector.svg" alt="cart" width="20">
    @if (cartCount > 0) {
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{ cartCount }}
      </span>
    }
  </div>

  <!-- Dropdown List -->
  @if (showDropdown) {
    <div class="dropdown-menu show p-2 mt-2" style="min-width: 300px; right: 0; left: auto;">
      @if (cartItems.length === 0) {
        <div class="text-center text-muted">لا توجد منتجات</div>
      }
      @for (item of cartItems; track item) {
        <div class="d-flex justify-content-between align-items-center py-1">
          <div>{{ item.product_name }}</div>
          <div>{{ item.quantity }} × {{ item.price }}</div>
        </div>
      }
    </div>
  }
</div>
