.dropdown-menu {
  position: absolute;
  z-index: 1050;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}
.btn-success{
  background-color: #7AD03A !important;
    border: none !important;
    color: black;

}