<div class="container my-5 mt-lg-5" >
  <h2 class="mb-4 text-center pt-lg-5">
    <img src="assets/Images/Frame 9033 fav.svg"> {{ 'FAVORITES.TITLE' | translate }}
  </h2>

  @if (favorites.length > 0) {
  <div class="d-flex justify-content-between align-items-center mb-3">

    <!-- العنوان في اليمين -->
    <h1 class="py-4 m-0">
      <span class="counter px-2 mx-2 text-center">{{ favorites.length }}</span> {{ 'FAVORITES.PRODUCT' | translate }}
    </h1>

    <!-- الزر في اليسار -->
    <button class="btn border border-1 rounded-3" (click)="clearAllFavorites()">
      {{ 'FAVORITES.CLEAR_ALL' | translate }}
    </button>

  </div>
  }

  @if (isLoading) {
  <div class="text-center">
    <div class="spinner-border text-success" role="status"></div>
    <p>{{ 'FAVORITES.LOADING' | translate }}</p>
  </div>
  }

  @if (!isLoading && favorites.length === 0) {
  <div class="text-center">
    <div class="align-items-center mt-4">
      <img src="assets/Images/aloe vera-pana 1.svg" alt="" style="max-width: 250px;">
    </div>
    <h1>{{ 'FAVORITES.EMPTY_TITLE' | translate }}</h1>
    <p>{{ 'FAVORITES.EMPTY_DESC' | translate }}</p>

    <button class="btn custom-green-btn mt-3 px-4 py-2" [routerLink]="['/home/category-products']">
      {{ 'FAVORITES.BROWSE' | translate }}
    </button>
  </div>
  }

  @if (favorites.length > 0) {
  <div class="row">
    @for (product of favorites; track product) {
    <div class="col-md-4 mb-4">
      <div class="card h-100" (click)="goToProduct(product.id)">
        <div class="position-relative">
          <img [src]="product.images[0]" class="card-img-top p-3" [alt]="product.name_ar"
            style="height: 200px; object-fit: contain;" />
        </div>

        <div class="card-body ">
          <h5 class="card-title fw-semibold">{{ currentLang === 'ar' ? product.name_ar : product.name }}</h5>
          <p class="card-text text-secondary mb-3"
            style="-webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
            {{ currentLang === 'ar' ? product.description_ar : product.description }}
          </p>

          <!-- السعر -->
         <p class="fw-bold mb-1" style="font-size: 14px;">
  @if ((product.sale_price ?? product.price_after) && (product.sale_price ?? product.price_after) !== (product.price ?? product.price_before)) {
    <span class="fw-bold text-success">
      {{ product.sale_price ?? product.price_after }} {{ 'FAVORITES.CURRENCY' | translate }}
    </span>
    <span class="text-secondary" style="text-decoration: line-through;">
      {{ product.price ?? product.price_before }} {{ 'FAVORITES.CURRENCY' | translate }}
    </span>
  } @else {
    <span class="fw-bold text-success">
      {{ (product.price ?? product.price_before) || (product.sale_price ?? product.price_after) }} {{ 'FAVORITES.CURRENCY' | translate }}
    </span>
  }
</p>


          <!-- الأزرار -->
          <div class="d-flex justify-content-between align-items-center mt-3">
            <button class="btn btn-outline-danger btn-sm rounded-5"
              (click)="removeFromFavorites(product); $event.stopPropagation()">
              <i class="fas fa-heart"></i>
            </button>

            @if (isInCart(product.id)) {
            <div class="d-flex align-items-center justify-content-center px-3 gap-2 border rounded-4"
              style="direction: rtl;" (click)="$event.stopPropagation()">
              <button class="btn btn-sm text-success" (click)="increaseQuantity(product.id); $event.stopPropagation()">
                <i class="fa-solid fa-plus"></i>
              </button>
              <span class="fw-bold text-center">{{ getCartItem(product.id)?.quantity }}</span>
              <button class="btn btn-sm text-danger" (click)="decreaseQuantity(product.id); $event.stopPropagation()">
                <i class="fa-solid fa-minus"></i>
              </button>
            </div>
            } @else {
            <button class="btn btn-outline-dark btn-sm bg-white text-black rounded-5 custom-hover"
              (click)="addToCart(product.id); $event.stopPropagation()">
              <img src="assets/Images/shopping-cart-add-01.svg" class="px-2">
              {{ 'FAVORITES.ADD_TO_CART' | translate }}
            </button>
            }
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  }

  <app-downloadapp ></app-downloadapp>
</div>
