.counter{
    background-color: #E9F7DE;
    border: 1px solid #61AD29;
}

.custom-hover {
  transition: all 0.3s ease;
}

.custom-hover:hover {
    background-color: #7AD03A !important; // Bootstrap green
    border: none;
}
.btn-success{
  background-color: #7AD03A !important;
    border: none !important;
    color: black;

}
.custom-green-btn {
  background-color: #7AD03A;
  color: black;
  border: 2px solid #7AD03A;
  transition: all 0.3s ease;
}

.custom-green-btn:hover {
  background-color: white;
  color: #7AD03A;
  border: 2px solid #7AD03A;
}
  .btn-circle.active {
  background-color: #d1edc2; /* نفس لون الـ hover */
  border-color: #00000066;   /* تقدر تزود تباين لو حابب */
}
