.privacy-title {
  font-size: 2rem;
  font-weight: 700;
//   background-color: #7AD03A; /* أزرق bootstrap primary */
  color: black;
  margin-bottom: 1rem;
  margin-top: 0;
}

.privacy-section {
  font-size: 1.5rem;
  font-weight: 600;
  color: black; /* أخضر bootstrap success */
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.last-updated {
  font-size: 0.9rem;
  color: #6c757d; /* رمادي */
  margin-bottom: 2rem;
}